<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Expecterator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ExpecteratorTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE2EE7BC19B17FBC00B6B425</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE2EE7D219B17FBC00B6B425</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE5AEF0D19B819170070F052</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE79C0A819B81363009C2E84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE79C0B919B81363009C2E84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
